* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}

section [class^="container"] {
  padding: 4rem 2rem;
}

@media screen and (min-width: 1024px) {
  section [class^="container"] {
    padding: 4rem;
  }
}

.card,
.btn-outline-dark {
  border: 2px solid #000000;
  box-shadow: 4px 4px #000000;
  transition: all 0.4s;
}
.btn-outline-dark:hover {
  box-shadow: 4px 4px #ff9500;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #ff9500;
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column; /* fica por colunas */
  justify-content: space-between;
  height: 100%; /* a altura fica do tamanho do maior texto do card */
}

/*---------------navbar section---------------------*/
#nav-bar [class^="container"] {
  padding: 0 !important;
}

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  background-image: linear-gradient(to right, #ffffff, #656565);
  padding: 0 !important;
}
.navbar-brand img {
  height: 40px;
  padding-left: 20px;
}
.navbar-nav li {
  padding: 0 10px;
}
.navbar-nav li a {
  color: #fff;
  font-weight: 600;
}
.navbar-nav .nav-link {
  color: #000000;
  font-size: 1.1rem;
  transition: all 0.5s;
}

.navbar-nav .nav-link:hover {
  color: #ff9500;
}

.navbar-nav .nav-item {
  padding: 0 1rem;
}

.navbar-nav .dropdown-menu li a {
  color: #000000;
}

.navbar-nav .dropdown-menu li a:hover {
  color: #ff9500;
}
/*------------------ Caroussel------------------*/
.c-item {
  height: 480px;
}
.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
  opacity: 0.7;
}
.btn-slide-1 {
    
    background-color: #743e5e; 
    border-color: #561fce; 
    color: rgb(219, 30, 30); 
    box-shadow: #000;
}

.btn-slide-1:hover {
    
    background-color: #dd7859; 
    border-color: #e64a19;
    color: white;
}

.btn-slide-2 {
   
    background-color: transparent;
    border-color: #00e676; 
    color: #00e676; 
    box-shadow: #000;
}

.btn-slide-2:hover {
   
    background-color: #00e676; 
    border-color: #00e676;
    color: #000;
}

.btn-slide-3 {
   
    background-color: #3f51b5; 
    border-color: #3f51b5; 
    color: white; 
    box-shadow: #000;
}

.btn-slide-3:hover {
    /* Efeito de hover (mais claro) */
    background-color: #5c6bc0; 
    border-color: #5c6bc0;
    color: white;
}
/*---------------slide section---------------------*/

#slides {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  #slides .container {
    width: 100%;
  }
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-item p {
  max-width: 80%;
}

#slides .carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#slides.carousel.carousel-fade.carousel-item {
  transition: opacity 0.5s;
}

#slides .carousel-item img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/*---------------banner section---------------------*/

#banner {
  background-color: #c9c9c9;
  color: #000000;
  padding-top: 72px;
}
@media screen and (max-width: 526px) {
  #banner {
    text-align: center;
  }
  #banner img-fluid {
    width: 70%;
  }
}
.promo-title {
  font-size: 40px;
  font-weight: 600;
}

#banner a {
  color: #150101;
  text-decoration: none;
}
.bottom-img {
  margin-top: 50px;
  width: 100%;
}

/*----------------SKILLS----------------*/
#skills {
  padding: 80px 0;
  text-align: center;
}
#skills h2 {
  text-align: left;
}
#skills i {
  margin-top: 20px;
  margin-bottom: 10px;
}

#skills h4 {
  text-transform: uppercase;
}
#skills h2::before {
  content: "";
  background: #000000;
  height: 5px;
  width: 200px;
  display: block;
  transform: translateY(63px);
}
#skills h2::after {
  content: "";
  background: #000000;
  height: 10px;
  width: 50px;
  margin-bottom: 40px;
  display: block;
  transform: translateY(8px);
}

#skills .row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch; /* colunas alturas iguais */
}

#skills .col-lg,
#skills .col-sm-6 {
  display: flex;
}

/*------------------about us------------------*/
#about-us {
  background: #c9c9c9;
  padding-bottom: 50px;
  padding-top: 50px;
}
.about-title {
  font-size: 36px;
  font-weight: 600;
  margin-top: 10%;
}
/* espaco entre as palavras a carol inse maria rita */
#about-us ul li {
  margin: 10px 0;
}
#about-us ul {
  margin-left: 20px;
}

/*------------------ projects------------------*/
#projects {
  margin: 100px 0;
}

#projects .card img {
  max-width: 70%;
  margin: 1rem auto;
}

#projects .card {
  position: relative;
  padding-bottom: 4rem;
}

#projects .card .btn {
  position: absolute;
  bottom: 1rem;
  transform: translateX(50%);
}

/*------------------ contact us------------------*/
#contact-us {
  background: #f8f9fa;
}

.social-icons img {
  width: 60px;
  transition: 0.5s;
}
.social-icons a {
  padding: 0 0.5rem;
  font-size: 1.3rem;
}
.social-icons a:hover img {
  transform: translateY(-10px);
}

.fa {
  margin-right: 8px;
  font-size: 25px;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 7px;
  border-radius: 2px;
}

/*------------------ RODAPE FINAL------------------*/
#rodape {
  background-image: linear-gradient(to right, #9a9a9a, #626262);
  color: #fff;
}

.row {
  padding: 60px;
  margin-inline: auto;
}
.footer-img {
  width: 100%;
}
.footer-box {
  padding: 20px;
}
.footer-box img {
  width: 120px;
  margin-bottom: 20px;
}
/*.footer-box .fa {
  margin-right: 8px;
  font-size: 25px;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 7px;
  border-radius: 2px;
  background-image: linear-gradient(to right, #da50ef, #bb7fd9);
}*/

.footer-box .retangulo-email {
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  margin-top: 25px;
  max-width: 250px;
}
.btn {
  margin-left: 10px;
}

hr {
  background-color: #fff;
}

.copyright {
  margin-bottom: 0;
  padding-bottom: 20px;
  text-align: center;
}
